body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
}
.loading{
    font-family: Times New Roman;
    font-size: 1.2rem;
    font-weight: bold;
}
.author{
    font-family: Times New Roman;
    font-size: 1rem;
    color: gray;
    text-align: center;
}
.loading-anim{
    width: 35px;   
    height: 35px; 
    display: inline-block;
    border: 5px solid rgba(189,189,189 ,0.25);
    margin-top: 50px;
    border-left-color:rgba(3,155,229 ,1);
    border-top-color:rgba(3,155,229 ,1);
    border-radius: 50%;
    animation: rotate 1500ms infinite linear;
}
@keyframes rotate{
    to{
        transform: rotate(1turn);
    }
}